* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Trajan_Pro_Bold";
  src: url("../fonts/Trajan_Pro_Bold.ttf") format("truetype");
}

:root,
html {
  font-family: Roboto, "Times New Roman", Times, serif;
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --colorPrimary: #b5945f;
  --colorSecondary: #041725;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
}

body {
  background-color: var(--colorSecondary);
  color: var(--colorWhite);
}

/* Navbar Starts */
header {
  height: 80px;
  background-color: var(--colorSecondary);
  border-bottom: 1px solid var(--colorPrimary);
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorWhite);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 5px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* Navbar Ends */

main {
  margin-top: 80px;
}

/* Slider */
.carousel {
  overflow: hidden !important;
  max-height: calc(100vh - 80px);
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banners/mobile_banner1.jpg");
  }
  .carousel-item .banner2 {
    content: url("../img/banners/mobile_banner2.jpg");
  }

  .carousel-item .banner3 {
    content: url("../img/banners/mobile_banner3.jpg");
  }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: var(--colorPrimary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  margin: 20px;
  /* display: none; */
}

/* gallery */

#gallery_section .row {
  --bs-gutter-y: 1.5rem;
}

.gall {
  border: 4px solid var(--colorPrimary);
  border-radius: 20px;
  padding: 5px;
  background-color: var(--colorWhite);
  box-shadow: rgba(14, 30, 37, 0.5) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gall img {
  border-radius: 20px;
  aspect-ratio: 4/3;
  width: 100%;
  object-fit: cover;
}

/* Pricings */
.price-container {
  border: 2px solid var(--colorWhite);
  padding: 5px;

  box-shadow: rgba(14, 30, 37, 0.5) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.text-color-primary {
  color: var(--colorPrimary);
}
.enquire-btn {
  background-color: var(--colorPrimary);
  border: none;
  color: var(--colorWhite);
  text-transform: uppercase;
  border: 1px solid var(--colorPrimary);
}
.enquire-btn:hover {
  background-color: #a07f4f;
}
.blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
